:root {
  --faviconWidth: 24px;
  --faviconHeight: 24px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.header {
  padding: 16px;
  background-color: #000;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
}

.bookmark-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 16px;
  padding: 16px;
  background-color: #333;
  min-height: 0;
  overflow: auto;
}

.bookmark {
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
  padding: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  transition: outline 0.25s ease, opacity 0.25s ease;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.bookmark:hover {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
  outline: 4px solid #0073ff;
}

.bookmark:active {
  outline: 4px solid #000;
}

.bookmark-icon {
  height: var(--faviconHeight);
  width: var(--faviconWidth);
  object-fit: contain;
  padding: 8px;
}

.bookmark-name {
  text-align: center;
  padding-left: 8px;
  padding-right: 16px;
}

