:root {
  --faviconWidth: 24px;
  --faviconHeight: 24px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.header {
  padding: 16px;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 8px solid red;
}

.brand {
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}

.bookmark-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 16px;
  padding: 16px;
  background-color: #000;
  min-height: 0;
  overflow: auto;
}

.bookmark {
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
  padding: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  transition: box-shadow 0.25s ease;
}

.bookmark:hover {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
}

.bookmark:active {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.bookmark-icon {
  height: var(--faviconHeight);
  width: var(--faviconWidth);
  object-fit: contain;
  padding: 0px;
}

.bookmark-name {
  text-align: center;
  padding-left: 16px;
}

.icon-only {
  border-radius: 16px;
}

.settings-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  align-content: flex-start;
  background-color: #333;
  color: #fff;
}

.settings-button {
  height: fit-content;
  padding: 8px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.is-new {
  color: #ffff00;
}
